<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="0;url=dist/index.html">
    <title>SB Admin</title>
    <script language="javascript">
        window.location.href = "../templates/index.html"
    </script>
    <link rel="stylesheet" href="../static/deploy/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/deploy/vendor/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    Go to <a href="../templates/index.html">/dist/index.html</a>
</body>

</html>
