<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>select company list page</title>
    <style>
        table, tr, tr{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>this is selectCompanyList page</h1>
    <table>
        <tr th:each="company : ${comList}">
            <td th:text="${company.cpId}"></td>
            <td th:text="${company.cpCode}"></td>
            <td th:text="${company.cpName}"></td>
            <td th:text="${company.cpType}"></td>
        </tr>
    </table>
</body>
</html>